<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Status Added Notification</title>
</head>
<body>
    <h2>New Status Added Notification</h2>
    <p>Hello Admin</p>
        <% indian_time = Time.current.in_time_zone('Asia/Kolkata')%>
        <p><%= @user.name %> has added a new status <%= indian_time.strftime('%d-%m-%Y, %I:%M:%S %p')%></p>
</body>
</html>